---
import projects from '../projectsInfo/projects.js';

---

<section id="projects" class="flex flex-col justify-centermax-w-6xl mx-auto px-4 py-16">
    <h1 
      data-animate="fade-in-up"
      class="uppercase text-3xl sm:text-3xl md:text-4xl font-extrabold text-black mb-4 mt-15 mx-auto fade-in-up"
      >Projects
    </h1>

    <!-- indicator -->
    <div class="w-16 h-1 bg-slate-500 mb-5 mx-auto"></div>

    <!-- Basic description -->
    <p class="text-lg sm:text-xl font-semibold text-gray-950 max-w-2xl mb-10 mx-auto">
        Here are some of the projects I've worked on.
    </p>
    
    <!-- Projects Grid -->
    <div class="max-w-8xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      {projects.map(project => (
        <a 
          href={`${project.repository}`} 
          target="_blank"
          rel="noopener noreferrer"
          class="relative z-0 rounded-xl overflow-hidden shadow-lg group hover:shadow-2xl transition-all duration-300"
          data-animate="project-card"
        >
          <img 
            src={project.imgLocation} 
            alt={project.title} 
            class="w-full md:h-90 overflow-hidden object-cover group-hover:scale-105 transition-transform duration-300" 
          />
          
          <div class="absolute inset-0 bg-gradient-to-t from-black/90 to-transparent" />
           
          <div class="absolute bottom-0 p-5 text-white">
            <h3 class="text-xl font-extrabold mb-2 text-slate-200">{project.title}</h3>
            <p class="text-sm mb-2">{project.description}</p>
            
            <div class="flex flex-wrap gap-2 mb-1.5">
              {project.tech.map(tech => (
                <span class="text-xs bg-white/10 px-3 py-1 rounded-full">
                  {tech}
                </span>
              ))}
            </div>
          </div>
        </a>
      ))}
    </div>
</section>